CLICKHOUSE_DATABASE=default
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=default
CLICKHOUSE_DATABASE_TEST=default
CLICKHOUSE_USERNAME_TEST=default
CLICKHOUSE_PASSWORD_TEST=default

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=sandbox

ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_BASE_URL=

GH_TOKEN=

SANDBOX_SSH_PORT=2222
SSH_PUBKEY=
